span{
    color: red;
    font-size: 30px;
    text-transform: uppercase;
    }
    @media(max-width:500px){
        .card{
        width:80% ;
    }
        .card img{
        width:80%;
        height: initial;    
        }
    }
    body{
        text-align: center;
        background-image: url(https://www.desktopbackground.org/download/o/2015/01/08/883791_background-images-for-websites-professional-blue_1400x1050_h.jpg); 
        
    }
    
    
    p{
        color:yellow;
        border:1.5px solid rgb(211, 67, 67);
        font-size: larger;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
    }
    a{
        color:red;
        text-decoration: none;
        font-size: larger;
        font-weight: 500;
    }
    .header{
        color: tomato;
        font-family: 'Times New Roman', Times, serif;
    }
    h3{
        color: tomato;
    }
    .contact p{
        border-radius: 3cm;
    }
    .navbar a {
        float: left;
        color:red;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
    .navbar{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        background-color: rgb(92, 9, 9);

         overflow: hidden;

    }
    header{
        display:block;
    }
    #home_container{
        display: block;
    }
    #about_container{
        display: none;
    }
    #contact_container{
        display: none;
    }
    #project_container{
        display:none;
    }